<mat-toolbar color="primary">
  <div>
    <a routerLink="/">LOGO</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth">
        <a routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/constructor">Constructor</a>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/designs">Saved Designs</a>
      </li>
      <li *ngIf="isAuth">
        <a>Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
