<div class="confirm-dialog p-3">
  <h2 mat-dialog-title class="dialog-title">
    <mat-icon class="title-icon">help_outline</mat-icon>
    {{ data.title }}
  </h2>

  <mat-dialog-content class="dialog-content">
    <p class="dialog-message">{{ data.message }}</p>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button 
      mat-button 
      type="button" 
      (click)="onCancel()"
      class="cancel-button">
      {{ data.cancelText }}
    </button>
    
    <button 
      mat-raised-button 
      [color]="data.confirmColor"
      type="button"
      (click)="onConfirm()"
      class="confirm-button">
      {{ data.confirmText }}
    </button>
  </mat-dialog-actions>
</div>