<section class="signup-form">
  <form class="form-container m-t-2" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        ngModel
        email
        required
        name="email"
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')">
        Field must not be empty
      </mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">
        E-mail is invalid
      </mat-error>
    </mat-form-field>
    <app-password-input
      label="Password"
      placeholder="Your password"
      hint="Should be at least 6 characters long"
      ngModel
      name="password"
      [required]="true"
      #pwInput="ngModel"
      [showError]="!!(pwInput.touched && pwInput.invalid)"
      errorMessage="Has to be at least 6 characters long"
    ></app-password-input>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >
      Submit
    </button>
  </form>
</section>
