.beads-raw {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
}

.beads-item {
  margin: 10px;
}

.dimensions-container {
  display: flex;
  flex-direction: column;
}

.colors-container {
  display: flex;
  flex-direction: column;
}
