<div class="constructor-page-container">
  <div class="constructor-painting-panel">
    <app-painting-panel
      [savedColors]="savedColors"
      (onSelectSavedColor)="selectColor($event)"
      (onColorDelete)="deleteColor($event)"
      (onSaveColor)="saveColor()"
      (onSetWhite)="setWhite()"
      [selectedColor]="selectedColor"
      (colorChanged)="selectedColor = $event"
    ></app-painting-panel>
  </div>

  <div class="constructor-main-container">
    <div class="dimensions__controls">
      <div class="dimensions__controls-column">
        <div class="control-title">Number of beads in the raw:</div>
        <div>
          <input
            type="number"
            class="controls-container__input"
            [(ngModel)]="rawBeadsAmount"
            max="100"
          />
        </div>
      </div>
      <div class="dimensions__controls-column">
        <div class="control-title">Number of beads in the column:</div>
        <div>
          <input
            type="number"
            class="controls-container__input"
            [(ngModel)]="columnBeadsAmount"
            max="100"
          />
        </div>
      </div>
      <!--      TODO: popup to prevent accidental deletion of already created design -->
      <button (click)="setNewDimensions()" mat-raised-button color="primary">
        Change the canvas size
      </button>
    </div>

    <div class="row beads-canvas__container">
      <div class="">
        <app-beads-constructor
          [selectedColor]="selectedColor"
          [beadsColumnArray]="constructorConfig.beadsColumnArray"
          [beadsRawArray]="constructorConfig.beadsRawArray"
          [canvasArray]="constructorConfig.canvasArray"
          (colorChanged)="onColorChanged($event)"
        ></app-beads-constructor>
      </div>
    </div>

    <div>
      <button (click)="clearAllCanvas()" mat-raised-button color="danger">
        Clear all canvas
      </button>

      <button (click)="onDesignSave()" mat-raised-button color="primary">
        Save this design
      </button>
    </div>
  </div>
</div>
