.main-container {
  margin: 15px;
}

.beads-canvas__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.controls-container {
  display: flex;
  padding: 15px;
  &__input {
    width: 50px;
  }
}

.dimensions__controls {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  &-column {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}

.control-title {
  margin-right: 10px;
}

.color-picker-controls-container {
  display: flex;
  flex-direction: column;
}

.color-picker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.beads-raw {
  display: flex;
  justify-content: center;
}

.saved-color-container {
  display: flex;
}

.saved-color {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #ccc;
}
